@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Document */
html, body {
    width: 100%;
    height: 100%;
}

body,p{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
  font-size: 1rem;
}

body {
  background-color: #fdfdfd;
  margin: 0;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}
a img{
  border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: white;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {  
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: auto;
  color: white;
}

#breadcrumb {
  display: flex;
  padding-left: 2.6em;
  width: 100%;
  list-style: none;
  background-color: #eee;
  font-size: 1.3em;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  margin-bottom: 6em;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #3397DB;
  justify-content: space-around;
  text-align: center;
  padding: 0.4em;
}

.filter-options h2 {
  width: 100%;
  color: white;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  min-height: 48px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
}

.restaurant-content{
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  width: 95%;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  max-width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  display: flex;
  width: 100%;
}

.inside #map {
  background-color: #ccc;  
  top: 7em;
}

.inside #footer {
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1em;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 90%;
}

#restaurant-address {
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
#restaurant-container, #reviews-container {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#reviews-container {
}

#reviews-container h2 {
  color: #f58500;
  font-weight: 300;
}

#reviews-list li {
  flex-wrap: wrap;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  list-style-type: none;
  text-align: center;  
  padding-bottom: 1em;
}

#reviews-list li span {
  padding: 0.5em;
  flex: 50%;
  width: 30%;
}

#restaurant-hours{
  width: 80%;
}

#restaurant-hours td:nth-child(2)  {
  text-align: right;
}